useDynLib(RWebview, .registration = TRUE)
export(create_webview, destroy_webview, run_webview, terminate_webview, dispatch_webview,
       get_window, get_native_handle, set_title, set_size, navigate, set_html,
       init_webview, eval_webview, bind_webview, unbind_webview, return_webview)
